.container-fluid {
  max-width: 1600px;
  padding: 0 4%;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 550px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1150px;
  }
}
/* Custom class for row */
.custom-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

/* Custom class for column */
.book-col {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  /* Media queries for column */
}
@media (min-width: 576px) {
  .book-col {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 768px) {
  .book-col {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
@media (min-width: 992px) {
  .book-col {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
@media (min-width: 1200px) {
  .book-col {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 576px) {
  .category-col {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 768px) {
  .category-col {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 992px) {
  .category-col {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
@media (min-width: 1200px) {
  .category-col {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  color: #333333;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  margin: 0;
}

a {
  color: unset;
  text-decoration: none;
}
a:focus, a:hover {
  color: unset;
  text-decoration: none;
  transition: all 0.2s linear;
}
a:focus {
  outline: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.textwrap {
  word-wrap: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.btn-main {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  background: #903;
  background: linear-gradient(0deg, #903 0%, #660022 100%);
  border: none;
}
.btn-main:hover {
  background: rgb(0, 3, 255);
  background: linear-gradient(56deg, #903 0%, #660022 100%);
  transform: scale(1.05);
}

/* Mobile navigation */
.navigation {
  height: 55px;
  background: linear-gradient(45deg, #903, #660022);
}
.navigation .nav-container {
  max-width: 1000px;
  margin: 0 auto;
}
.navigation .nav-container .brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 55px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.navigation .nav-container .brand a {
  color: #ffffff;
  text-decoration: none;
}
.navigation .nav-container nav {
  float: right;
}
.navigation .nav-container nav .nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation .nav-container nav .nav-list li {
  float: left;
  position: relative;
}
.navigation .nav-container nav .nav-list li a {
  display: block;
  padding: 0 20px;
  line-height: 55px;
  color: #ffffff;
  text-decoration: none;
}
.navigation .nav-container nav .nav-list li a:hover {
  background: #660022;
  color: #ffffff;
}
.navigation .nav-container nav .nav-list.active {
  display: block;
}
.navigation .nav-container nav .nav-list.active li {
  float: none;
  background: #330011;
}
.navigation .nav-container nav .nav-list.active li a {
  padding: 15px;
  line-height: 20px;
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  height: 55px;
  width: 70px;
}
.nav-mobile #navbar-toggle {
  position: absolute;
  left: 18px;
  top: 15px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
.nav-mobile #navbar-toggle span {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 30px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
.nav-mobile #navbar-toggle span:before {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 30px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
  top: -10px;
}
.nav-mobile #navbar-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 30px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
  bottom: -10px;
}
.nav-mobile #navbar-toggle.active span {
  background-color: transparent;
}
.nav-mobile #navbar-toggle.active span:before {
  top: 0;
  transform: rotate(45deg);
}
.nav-mobile #navbar-toggle.active span:after {
  top: 0;
  transform: rotate(-45deg);
}

@media only screen and (max-width: 800px) {
  .nav-mobile {
    display: block !important;
  }
  nav {
    width: 100%;
    padding: 55px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
    background: #262626;
  }
}
@media screen and (min-width: 800px) {
  .nav-list {
    display: block !important;
  }
}
footer {
  padding: 10px;
  background: #eaebea;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

.intro-section {
  display: flex;
  align-items: center;
}
.intro-section .intro-body {
  display: flex;
  align-items: center;
  margin: auto;
}
.intro-section .intro-body img {
  width: 100%;
  max-height: 500px;
  padding: 40px 10px;
}
.intro-section .intro-body p {
  color: #903;
  font-weight: 500;
}

.intro-section-2 {
  padding: 5% 10%;
}
.intro-section-2 .intro-body p {
  color: #fff;
}

.featured-books {
  padding: 30px 0 40px 0;
}
.featured-books h1 {
  color: #660022;
  text-transform: uppercase;
}
.featured-books .book-card {
  margin-bottom: 15px;
  border: 1px solid rgb(241, 241, 241);
}
.featured-books .book-card .book-card-img {
  width: 100%;
  padding: 20px;
  max-height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}
.featured-books .book-card .book-card-body {
  padding: 5px 10px;
}
.featured-books .book-card .card-img-top {
  width: 100%;
  height: auto;
}

.featured-categories {
  padding: 40px 0 20px 0;
  background: #eaebea;
}
.featured-categories .category-card {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}
.featured-categories .category-card img {
  height: 150px;
  width: 100px;
}
.featured-categories .category-card .category-card-info {
  padding: 5px 10px 10px 10px;
}
.featured-categories .category-card .category-card-info h3 {
  margin-top: 0;
  margin-bottom: 10px;
}
.featured-categories .category-card .category-card-info ul li a:hover {
  color: #903;
}
.book-container {
  padding: 50px 20px;
  width: 100%;
}
.book-container table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.book-container table thead th {
  text-align: left;
  background-color: #f0d7d6;
  padding: 15px;
  text-transform: uppercase;
}
.book-container table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.033);
}
.book-container table tbody tr td {
  position: relative;
  padding: 15px;
  color: #000;
}
.book-container table tbody tr td a {
  color: #fff;
  padding: 3.5px 10px 2px 10px;
  border-radius: 5px;
  font-size: 10px;
  letter-spacing: 0.5px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  background: #903;
  background: linear-gradient(0deg, #903 0%, #660022 100%);
  border: none;
}
.book-container table tbody tr td a:hover {
  background: rgb(0, 3, 255);
  background: linear-gradient(56deg, #903 0%, #660022 100%);
  transform: scale(1.05);
}
.book-container table tbody tr td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}